<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="assets/img/logo.PNG" class="img-thumbnail" style="height: 60px; width: 60px; border-radius: 100%; margin-right: 15px;">
    <a class="navbar-brand" href="#">VirtualMarket</a>
</nav>    

<nav class="navbar navbar-light bg-light">
    VirtualMarket, una alternativa diferente.
    <form class="form-inline">
      Carrito de compras
    </form>
</nav>

  
<div style="width: 100%; height: 100vh; background: url(../../../assets/img/background_home.jpg) no-repeat center top; background-size: cover;">
    <!-- MAIN -->
        <div class="menus" >
            <!-- Content -->
            <article>        
                <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Frutas</button>
                    <button mat-menu-item>Verduras</button>
                    <button mat-menu-item>Tubérculos</button>
                    <button mat-menu-item>Otros</button>
                </mat-menu>
            </article>
        </div>

        <div class="container py-4">
          <div class="card" style="width: 18rem;">
            <div class="row">
              <img style="margin-left: 25px; margin-top: 10px;" src="assets/img/user_img.png" width="50" height="50">
              <div class="card-body">
                <h5 class="card-title">{{user_name}}.</h5>
              </div>
            </div>
          </div>

          <div class="shopping-cart" style="width: 100%">
            <!-- Title -->
            <div class="title">
              <div class="row">
                <div class="col">
                  Carrito de Compras
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                  <a class="text-decoration-none" style="border: 2px solid rgb(79, 82, 94); border-radius: 6px; padding: 10px; height: 40px; cursor: pointer;" (click)="btn_payment()">
                    <i class="fa fa-shopping-cart" style="margin-right: 4px;"></i>
                    Comprar ahora
                  </a>

                </div>
              </div>
              
              
            </div>
           
            <!-- Product #1 -->
            <div class="item">
              <div class="buttons">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                <span class="delete-btn"></span>
              </div>
           
              <div class="image">
                <img [src]="'http://localhost:4000/' + prod_data['image_path']" width=100px height=100px alt="" />
              </div>
           
              <div class="description">
                <span>{{prod_data['name']}}</span>
                <span>{{prod_data['category']}}</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button" name="button" (click)="btn_add()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <input type="text" name="name" value={{prod_num}}>
                <button class="minus-btn" type="button" name="button">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
           
              <div class="total-price">S/ {{prod_data['price']}}</div>
            </div>
           
          </div>

          <div class="container py-4">
            
          </div>

          

        </div>
        
    
    
    
        
    
    
    </div>
