<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="assets/img/logo.PNG" class="img-thumbnail" style="height: 60px; width: 60px; border-radius: 100%; margin-right: 15px;">
    <a class="navbar-brand" href="#">VirtualMarket</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" (click)="btn_show_resume()" style="cursor: pointer;">Resumen</a>
            <a class="nav-item nav-link" (click)="btn_show_purchases()" style="cursor: pointer;">Compras</a>
            <a class="nav-item nav-link" (click)="btn_show_comments()" style="cursor: pointer;">Comentarios</a>
            <a class="nav-item nav-link" >Configuración</a>
        </div>
    </div>
</nav>    

<div style="width: 100%; height: 100vh; background: url(../../../assets/img/background2.jpg) no-repeat center top; background-size: cover;">
    <!-- MAIN -->
    <div class="container py-4" [ngStyle]="show_resume">
        <!-- Content -->
        <article>        
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <img style="margin-left: 25px; margin-top: 10px;" src="assets/img/user_img.png" width="50" height="50">
                        <div class="card-body">
                            <h5 class="card-title">Hola, {{user_name}}.</h5>
                        </div>
                    </div>
                </div>
            
            <div class="py-3">
                <div class="line">
                    <h4 class="text-size-40 margin-bottom-30">Información de Resumen</h4>
                    <hr class="break-small background-primary margin-bottom-30">
                    <p class="margin-bottom-40">
                        En esta página encontrará información respecto a sus compras.
                    </p>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">Compras</h5>
                            
                            <p class="card-text">Hiciste {{num_purchases}} compras.</p>
                            <a (click)="btn_show_purchases()" class="card-link" style="cursor: pointer; color: blue;">Ir a Compras</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Comentarios</h5>
                                <p class="card-text">Hiciste {{waiting_comments}} comentarios.</p>
                                <a (click)="btn_show_comments()" class="card-link" style="cursor: pointer; color: blue;">Ver Comentarios.</a>
                            </div> 
                        </div>                       
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="container py-4" [ngStyle]="show_purchases">
        <div class="card" style="width: 18rem;">
            <div class="row">
                <img style="margin-left: 25px; margin-top: 10px;" src="assets/img/user_img.png" width="50" height="50">
                <div class="card-body">
                    <h5 class="card-title">{{user_name}}.</h5>
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="line">
                <h4 class="text-size-40 margin-bottom-30">Compras</h4>
                <hr class="break-small background-primary margin-bottom-30">
                <p class="margin-bottom-40">
                    Aquí se muestran tus compras.
                </p>
            </div>

        </div>
        <table class="table table-bordered" style="background-color: whitesmoke;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Foto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchase of purchases">
                <th scope="row">{{purchase[0]}}</th>
                <td>{{purchase[1]}}</td>
                <td>{{purchase[2]}}</td>
                <td>{{purchase[3]}}</td>
                <td>
                    <img src="{{purchase[4]}}" class="img-thumbnail" style="height: 100px;">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container py-4" [ngStyle]="show_comments">
        <div class="card" style="width: 18rem;">
            <div class="row">
                <img style="margin-left: 25px; margin-top: 10px;" src="assets/img/user_img.png" width="50" height="50">
                <div class="card-body">
                    <h5 class="card-title">{{user_name}}.</h5>
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="line">
                <h4 class="text-size-40 margin-bottom-30">Comentarios</h4>
                <hr class="break-small background-primary margin-bottom-30">
                <p class="margin-bottom-40">
                    Comentaste las siguientes publicaciones.
                </p>
            </div>

        </div>
        <table class="table table-hover table-bordered" style="background-color: whitesmoke;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Comentario</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comment of comments">
                    <th scope="row">{{comment[0]}}</th>
                    <td>{{comment[1]}}</td>
                    <td>{{comment[2]}}</td>
                    <td>{{comment[3]}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" >Responder</button>
                        <button type="button" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
